html,
body,
.app {
	height: 100vh;
	background-color: #282828;
	padding: 1em;
	position: relative;
	overflow-x: hidden;
	color: #fcfcfc;
}

.messages {
	height: 350px;
	overflow-y: scroll;
}

.message__form {
	position: fixed !important;
	bottom: 1em;
	right: 1em;
	left: 0;
	margin-left: 320px !important;
	z-index: 200;
	
}