html,
body,
.app {
	height: 100vh;
	background-color: #282828;
	padding: 1em;
	padding-top: 1vh;
	position: relative;
	overflow-x: hidden;
	color: #fcfcfc;
}

.messages {
	height: 62vh;
	overflow-y: scroll;
}

.messages__progress {
	height: 58vh;
	overflow-y: scroll;
}

.message__form {
	position: fixed !important;
	bottom: 1em;
	right: 1em;
	left: 0;
	margin-left: 320px !important;
	z-index: 200;
}

.message__self {
	padding-left: 8px;
	border-left: 2px solid orange;
}

.message__image {
	padding: 1em;
}

.progress__bar {
	margin: 0.3em 0 0 0 !important;
}